//——————————————————————————————————————————————————————————————————————————————
// Common Design: Header
//——————————————————————————————————————————————————————————————————————————————

// We want uniform focus styles on the whole Header
.cd-header button:focus {
  outline: 3px solid $whd-blue;
}

//
// Site Header.
// Bottom header bar, contains Logo, Search and Navigation.
//
.cd-header {
  height: $cd-site-header-height;
}

.cd-site-header {
  //border-bottom: 3px solid $cd-black;
  background-color: $cd-black;
  color: $cd-white;
}

.cd-site-header__inner {
  padding: 0 0 0 $cd-container-padding; // Padding-right is on Nav toggle button.
  height: $cd-site-header-height;
  max-width: 1380px;

  [dir='rtl'] & {
    padding: 0 $cd-container-padding 0 0; // Padding-right is on Nav toggle button.
  }

  @include tablet {
    padding: 0 0 0 $cd-container-padding-tablet; // Padding-right is on Lang toggle button.

    [dir='rtl'] & {
      padding: 0 $cd-container-padding-tablet 0 0; // Padding-right is on Lang toggle button.
    }
  }

  //@include xlarge {
  //  padding: 0 16px 0 $cd-container-padding-xlarge; // Some padding-right is on Lang toggle button.
  //}

  @supports(display: grid) {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: $cd-site-header-height;
    grid-column-gap: 1em;

    @include tablet {
      grid-template-columns: 200px 1fr;
    }
  }

  .no-js & {
    display: block;
    height: unset;
  }
}

.cd-site-header__actions {
  float: right;

  .no-js & {
    display: block;
    float: left;
  }

  @supports(display: flex) {
    float: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }

  @supports(display: grid) {
    grid-column: 2 / 2;
  }

  @include tablet {
    @supports(display: flex) {
      .cd-search {
        flex: 0 0 auto;
      }

      .cd-site-header__nav-holder {
        flex: 0 0 auto;
      }
    }
  }
}

.cd-site-header__nav-holder nav > ul {

  @include tablet {
    @supports(display: flex) {
      float: none;
      flex: 0 0 auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
    }
  }

  > li,
  > .cd-nav__item {

    @include tablet {
      float: left;
    }

    @supports(display: flex) {
      flex: 1 0 100%;
    }

    @include tablet {
      //max-width: 160px;

      @supports(display: flex) {
        flex: 1 1 auto;
      }
    }

    @include xlarge {
      //max-width: 160px;

      @supports(display: flex) {
        flex: 1 1 auto;
      }
    }

    .no-js & {
      max-width: unset;
      float: left;
    }
  }
}

// Second level menu.
.no-js .cd-site-header__nav-holder .cd-nav > .menu {
  display: block;
}

.no-js .cd-site-header__nav-holder li li {
  max-width: unset;
  float: left;
}

.no-js .cd-site-header__nav-holder .cd-nav > .menu > .menu-item li:first-child {
  border-right: 1px solid #e6ecf1;
}
