//——————————————————————————————————————————————————————————————————————————————
// Common Design: Logo
//
// Replace images with your site logo.
//——————————————————————————————————————————————————————————————————————————————

// Wrap the logo in a h1 if it's the main heading for the page (e.g. on homepage).
.cd-site-header h1 {
  margin: 0;
}

.cd-site-logo {
  display: block;
  float: left;
  width: 200px;
  height: $cd-site-header-height;

  &:focus {
    outline: 3px solid $whd-blue;
  }

  @supports (display: flex) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  @supports(display: grid) {
    grid-column: 1 / 1;
    justify-items: center;
    align-items: center;
  }
}

// Hides logo set in info.yml on mobile, in favour of background image.
.cd-site-logo img {
  display: block;
  height: 40px;
  width: auto;

  &.ocha-logo {
    margin-right: 1.5rem;
  }
}

.no-js .region-header-logo {
  float: left;
}
