<section id="section-about-intro" class="site-section">
    <article id="about-intro">
	{{content.field_intro}}
	</article>
</section>
<section id="section-about" class="site-section">
	<article id="about-full">
	{{content.field_full_about}}
    </article>
</section>
<style>
    #section-about-intro::before { background-image: url({{content.field_background_image}}); }
</style>
