<section id="section-whatiswhd">
	<img src="{{content.field_image}}" data-aos="fade-up">
    <article data-aos="fade-up">
        {{content.body}}
    </article>
    {{content.field_extended_highlights}}
</section>
