<section id="section-toolkit" class="page site-section">
    <article>
        {{content.body}}
		<a class="btn btn-cta" href="{{content.field_attached_file}}" track-click data-ga-category="Campaign Toolkit" data-ga-action="Click" data-ga-label="Campaign Toolkit: Download">{{content.field_cta}}</a>
    </article>
</section>
<style>
    #section-toolkit::before { background-image: url({{content.field_background_image}}); }
</style>
