<section id="section-pillars-intro" class="site-section">
    <article>
		{{content.body}}
    </article>
</section>
<style>
    #section-pillars-intro::before { background-image: url({{content.field_background_image}}); }
</style>
