<section id="section-notatarget" class="desktop-only">
    <article>
        {{content.body}}
		<a class="btn btn-cta" href="https://sign.worldhumanitarianday.org" track-click data-ga-category="Home" data-ga-action="Click" data-ga-label="Hero Image: Sign Petition">{{content.field_cta}}</a>
    </article>
</section>
