<section id="section-civiliansare" data-aos="fade-up">
	<article class="content">
		{{content.body}}
		<div class="cta video-player" data-videoid="{{content.field_youtube_video_id|render|trim}}">{{content.field_cta}}</div>
	</article>
</section>