<section id="section-livingpetition">
	<img src="{{content.field_background_image}}" data-aos="fade-up">
	<article class="content" data-aos="fade-up">
		{{content.body}}
		<a href="http://sign.worldhumanitarianday.org" class="cta desktop-only">{{content.field_cta}}</a>
		<a href="http://sign.worldhumanitarianday.org" class="btn btn-cta mobile-only">{{content.field_cta}}</a>
	</article>
</section>