<section id="section-sculpture">
	<article>
		<video class="desktop-only" autoplay muted loop="loop">
		  <source src="{{content.field_video}}" type="video/mp4">
		  Your browser does not support the video tag.
		</video>
		<img class="mobile-only" src="{{content.field_image}}">
		<span class="content mobile-only">
			{{content.body}}
		</span>
	</article>
</section>