//——————————————————————————————————————————————————————————————————————————————
// Common Design: Footer
//——————————————————————————————————————————————————————————————————————————————

.cd-footer {
  //grid-row: 4 / 4; // Position footer so visible on short pages.
  background: $cd-black;
  color: $cd-white;
  padding: 48px 0 0;
  text-align: center;
  line-height: 1.5;

  a {
    color: $cd-white;
    text-decoration: none;

    &:hover,
    &:focus {
      //color: $cd-white;
      text-decoration: underline;
    }

    &:focus {
      outline: 3px solid $whd-blue;
      outline-offset: 8px;
    }
  }
}

.cd-footer__section {
  margin: 0 auto;
  padding-bottom: 48px;
  float: none;
  width: 100%;

  // When we know a section contains no content, we can set an empty variant
  // to collapse it to zero-height which helps especially on mobile, without
  // disrupting the layout on larger viewport widths.
  &--empty {
    padding-bottom: 0;
  }
}

.cd-footer__inner {
  padding: 0 $cd-container-padding;
  max-width: 1380px;

  @include tablet {
    padding: 0 $cd-container-padding-tablet;
  }

  @include xlarge {
    padding: 0 $cd-container-padding-xlarge;
  }

  @supports (display: flex) {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }
}

.cd-footer__section--menu {
  @include desktop {
    text-align: left;
    float: right;
    width: 70%;
  }
}

.cd-footer__section--social {
  @include desktop {
    float: left;
    width: 30%;
    text-align: right;
  }
}

.cd-footer__section--donate {
  @include desktop {
    float: left;
    max-width: 320px;
    width: 30%;
  }

  .donate {
    display: block;
    text-align: center;
    color: $cd-white;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.75rem 1rem;
    border: 2px solid $whd-blue;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $whd-blue;
      background: $whd-black;
      border: 2px solid $whd-blue--dark;
    }

    &:focus {
      color: $whd-blue--light;
      outline-offset: 0;
    }
  }
}

.cd-footer__section--logo {
  @include desktop {
    text-align: right;
    float: right;
    max-width: 350px;
    width: 40%;
  }

  .dark-horse-logo {
    height: 50px;
    margin-right: 1rem;
  }
}


@supports (display: flex) {
  .cd-footer__section {
    float: none;
  }

  .cd-footer__section--menu {
    @include tablet {
      flex: 1 0 100%;
    }
    @include desktop {
      text-align: right;
      flex: 1 0 50%;
    }
  }

  .cd-footer__section--social {
    @include tablet {
      flex: 1 0 100%;
    }
    @include desktop {
      flex: 0 1 auto;
    }
  }

  .cd-footer__section--donate {
    max-width: 320px;

    @include tablet {
      flex: 1 0 320px;
    }
  }

  .cd-footer__section--logo {
    @include tablet {
      flex: 1 0 100%;
    }
    @include desktop {
      flex: 0 1 350px;
      margin: 0;
    }
  }
}
