{% embed 'page.html.twig' %}

  {% block main %}
    {# Link to skip to the main content is in html.html.twig #}
    <main role="main" {{ attributes.setAttribute('id', 'main-content').addClass('cd-container cd-container--main') }}>

      <div class="cd-layout-content">
        <h1 class="page-title">404</h1>
        <p>{{ page.content }}</p>
      </div>{# /.cd-layout-content #}

    </main>
  {% endblock %}

{% endembed %}



