{# Displays the site footer #}

<footer class="cd-footer" role="contentinfo">
  <div class="cd-container cd-footer__inner">

    <div class="cd-footer__section cd-footer__section--donate">
      <a class="donate" href="https://unfoundation.org">{% trans %}Donate to crisis relief{% endtrans %}</a>
    </div>

    <div class="cd-footer__section cd-footer__section--menu">
      {{ page.footer_navigation }}
    </div>

{#    {% block social_menu %}#}
{#      {% include '@whd/footer/social-menu.html.twig' %}#}
{#    {% endblock %}#}

    <div class="cd-footer__section cd-footer__section--logo">
        <a class="cd-footer-logo" href="https://www.darkhorse.com" title="Dark Horse website" target="_blank"><img class="dark-horse-logo" src="/themes/custom/whd/img/logos/dark-horse-logo.svg" alt="{{ 'Dark Horse logo'|t }}" /></a>
        <a class="cd-footer-logo" href="https://unfoundation.org" title="UN Foundation website"><img class="un-foundation-logo" src="/themes/custom/whd/img/logos/un-foundation.svg" alt="{{ 'UN Foundation logo'|t }}" /></a>
    </div>

  </div>
</footer>
